{% extends 'FrontEndBundle::layout.html.twig' %}


{% block content %}
    <h1>Invoices</h1>
    <h2>Create a new invoice</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}


{% block scripts %}
$(document).ready(function() {
    $('#invoice_sellerEmail').select2({
        placeholder: 'Search for a seller',
        minimumInputLength: 3,
        ajax: {
            url: '{{ path('front_end_find_seller_action') }}',
            dataType: 'json',
            quietMillis: 250,
            data: function (term, page) {
                return {
                    q: term
                };
            },
            results: function (data, page) {
                return { results: data.items };
            }
        },
        createSearchChoice: function(term, data) {
            if ($(data).filter(function() {
              return this.text.localeCompare(term) === 0;
            }).length === 0) {
              return {
                id: term,
                text: term
              };
            }
          }
    });

    $('#invoice_debtorEmail').select2({
        placeholder: 'Search for a debtor',
        minimumInputLength: 3,
        ajax: {
            url: '{{ path('front_end_find_debtor_action') }}',
            dataType: 'json',
            quietMillis: 250,
            data: function (term, page) {
                return {
                    q: term
                };
            },
            results: function (data, page) {
                return { results: data.items };
            }
        },
        createSearchChoice: function(term, data) {
            if ($(data).filter(function() {
              return this.text.localeCompare(term) === 0;
            }).length === 0) {
              return {
                id: term,
                text: term
              };
            }
          }
    });

    $('#invoice_dueDate').datetimepicker({
        format: 'YYYY-MM-DD HH:mm:ss'
    })
});
{% endblock %}
